$color-primary: #58BC82;        // Verde principal
$color-secondary: #9c9c9c60;    // Gris secundario
$color-black: #212121;            // Negro
$color-lightdark: #707070;    // Gris oscuro
$color-light: #efefef;